<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361114308878-8hv3n8ahd6n1vmcqha5vnaqj7fr8c1l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361114308878-8hv3n8ahd6n1vmcqha5vnaqj7fr8c1l6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>361114308878-qp5mvrt5ra3123qppdkr9ppkulkv7ldc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF8k0StSn4hKioipWFDmxJ6jpyb4_8HME</string>
	<key>GCM_SENDER_ID</key>
	<string>361114308878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.in.androidthai.mushroomIotUng</string>
	<key>PROJECT_ID</key>
	<string>funnyquestion-90347</string>
	<key>STORAGE_BUCKET</key>
	<string>funnyquestion-90347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361114308878:ios:f676e38e49ddd93e</string>
	<key>DATABASE_URL</key>
	<string>https://funnyquestion-90347.firebaseio.com</string>
</dict>
</plist>